// import libs

@import 'libs/bootstrap-reboot.min';

// import vars

@import 'vars/vars';
@import 'vars/mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

// Import Blocks

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/sidepanel';
@import 'blocks/menu';
